BasedOnStyle: LLVM

AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true 
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
IndentCaseLabels: true
IndentWidth: 4
BreakBeforeBraces: Allman
Language: Cpp
PointerAlignment: Right
SpacesInParentheses: false
SpacesBeforeTrailingComments: 1
